.profile-image{
    max-width: 200px;
    max-height: 150px;
    border: 2px solid green;
    border-radius: 50%;
}
.table{
    width: 100%;
    border: .5px solid red;
    border-collapse: collapse;
}

.table tr td{
    padding: 20px 50px;
    border: 1px solid green;
}