<mat-card *ngIf="user">
    <h1>Profile Details</h1>
    <!-- {{user | json }} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img class="profile-image" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202103/photo-1511367461989-f85a21fda1_0_1200x768.jpeg?YVCV8xj2CmtZldc_tJAkykymqxE3fxNf&size=770:433"/>
                <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>User Name</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>User Id</td>
                                <td>EXAM {{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone No</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"INACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <mat-card-actions class="text-center">
            <button mat-raised-button color="primary">UPDATE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions> -->
    </mat-card-content>
</mat-card>
