.profile-image{
    max-width: 200px;
    max-height: 150px;
    border: 2px solid green;
    border-radius: 50%;
}
.table{
    width: 100%;
    border: .5px solid red;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px #673ab7;
    margin-bottom: 5px;
}

.table tr td{
    padding: 20px 50px;
    border: 2px solid #673ab7;
    box-shadow: 2px 2px 2px #673ab7;
}

.test-container{
    padding: 20px;
}