
<div class="container row">
    <mat-form-field style="width: 100%;margin-top: 10px;" appearance="outline">
        <mat-label>Events</mat-label>
        <mat-select>
          <mat-option value="primary">All</mat-option>
          <mat-option value="accent">Open Event</mat-option>
          <mat-option value="warn">Close Event</mat-option>
        </mat-select>
      </mat-form-field>
    <div class="card "style="display: flex;">
       
<mat-card class="example-card">
    <mat-card-title>CCIBT Event</mat-card-title>
    <mat-card-subtitle>Town Hall T1</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p></p>
    </mat-card-content>
    <mat-card-content>
        <p>Start Date and Time : 15-03-2024 - 11AM</p>
        <p></p>
      </mat-card-content>
      <mat-card-content>
        <p>Open Event</p>
        <p>Status: Pending</p>
        <p></p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
      <button mat-button>Publish</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card ml20">
    <mat-card-title>CSRF Event</mat-card-title>
    <mat-card-subtitle>Town Hall T1</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p></p>
    </mat-card-content>
    <mat-card-content>
        <p>Start Date and Time : 15-03-2024 - 11AM</p>
        <p></p>
      </mat-card-content>
      <mat-card-content>
        <p>Open Event</p>
        <p>Status: Pending</p>
        <p></p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
      <button mat-button>Publish</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card ml20">
    <mat-card-title>HOLI </mat-card-title>
    <mat-card-subtitle>Town Hall T1</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p></p>
    </mat-card-content>
    <mat-card-content>
        <p>Start Date and Time : 15-03-2024 - 11AM</p>
        <p></p>
      </mat-card-content>
      <mat-card-content>
        <p>Open Event</p>
        <p>Status: Approved</p>
        <p></p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
      <button mat-button>Publish</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card ml20">
    <mat-card-title>Diwali </mat-card-title>
    <mat-card-subtitle>Town Hall T1</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p></p>
    </mat-card-content>
    <mat-card-content>
        <p>Start Date and Time : 15-03-2024 - 11AM</p>
        <p></p>
      </mat-card-content>
      <mat-card-content>
        <p>Type: Open Event</p>
        <p>Status: Pending</p>
        <p></p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
      <button mat-button>Publish</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
