<div class="container">

  <div class="card">
    <h1>Create Event..</h1>
    <mat-form-field class="field" appearance="outline">
      <mat-label>Event Name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width field">
      <mat-label>Description</mat-label>
      <textarea rows="5" matInput placeholder="About Event Details .."></textarea>
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Event Meeting Link</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ml20" appearance="outline">
      <mat-label>Start Time</mat-label>
      <input matInput type="decimal" placeholder="1" max="24">
    </mat-form-field>

    <mat-form-field class="ml20" appearance="outline">
      <mat-label>End Time</mat-label>
      <input matInput type="decimal" placeholder="1" max="24">
    </mat-form-field>

    <mat-form-field class="field" appearance="outline">
      <mat-label>Rooms</mat-label>
      <mat-select>
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="warn">Warn</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label>Meeting Type </label>
      <mat-radio-group>
        <mat-radio-button value="auto">Open Event</mat-radio-button>
        <mat-radio-button class="ml20" value="always">Close Event</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Max Participant Cap</mat-label>
      <input matInput type="number" placeholder="1">
    </mat-form-field>

    <mat-form-field class="ml20" appearance="outline">
      <mat-label>Attended Users</mat-label>
      <input matInput type="number" placeholder="1">
    </mat-form-field>

    <mat-form-field class="example-full-width field">
      <mat-label>Participant List</mat-label>
      <textarea rows="5" matInput placeholder="Participant List with Normal Email .."></textarea>
    </mat-form-field>


    
    
    <div class="text-center">
      <button type="submit" mat-raised-button color="accent">Create Event</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
