<mat-card>
    <mat-action-list>
        <div mat-subheader>
            MENU
        </div>
        <button mat-list-item routerLink="/admin/">
            <mat-icon mat-list-icon>home</mat-icon>
            HOME
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            PROFILE
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon>
            CATEGORIES
        </button>
        <button mat-list-item routerLink="/admin/rooms">
            <mat-icon mat-list-icon>rooms</mat-icon>
            ROOMS
        </button>
        <!-- <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add</mat-icon>
           ADD CATEGORIES
        </button> -->

        <button mat-list-item routerLink="/admin/events">
            <mat-icon mat-list-icon>events</mat-icon>
            EVENTS
        </button>

        <!-- <button mat-list-item routerLink="/admin/add-event">
            <mat-icon mat-list-icon>add</mat-icon>
            ADD EVENT
        </button> -->

        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon>
            LOGOUT
        </button>
        
    </mat-action-list>
</mat-card>